#agregar{
    display: none;
    justify-content: center;
    padding:2rem 0 2rem 0;
}
.agregarProducto{
    display: flex;
    width: 34.9rem;
    height: 30.68rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1rem;
}
.agregarProducto_titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 2.2rem;
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-gray);  
}
.agregarProducto_input{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0; 
    gap:0.5rem;
    height: 3.5rem;  
    background: var(--color-header);
    border-radius: 0.25rem;
}
.agregarProducto_input :nth-child(1){
    width: 100%;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--color-gray);
}
.agregarProducto_input :nth-child(2){
    width: 100%;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-gray);
}
.agregarProducto_descripcion{
    width: 100%;
    height: 5.125rem;
    border: none;
}
.agregarProducto_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3.18rem;
    width: 100%;
    background: var(--color-btn);
    border: none;
    color: var(--color-header);
    font-weight: 400;
    font-size: 1rem;    
}