.section-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 7.18rem;
}
.headerPrincipal{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%;
    gap:1%;
    padding: 0;   
    background-color:var( --color-header);
}
.container_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 100%;   
}
.busqueda_header{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 0;      
    padding: 0;
    width: 50%;
    height: 3.125rem;
    gap: 5%;
}
.contain_logo{
    width: 40% ;
    height: 2.5rem;
    gap: 2%;
    display: flex;
    flex-direction: row;   
    align-items: center;    
}
.contain_logo-img{
    display: flex;
    width: 2.5rem;
    height: 1.8rem;   
}
.contain_logo-txt{    
    width:70%;    
    margin-top: 0.2rem;
    background-size: cover;
    
}
.logo_alura-txt{font-size: 2.6vw;}
.logo_alura-txt strong{color: var(--color-btn);}
.logo_alura{padding-top: 0.2rem;}
.contain_logo-text{padding-top: 0.6rem;}
.contain-barra{  
    width:60% ;  
    height: 2.18rem;
    display: flex;
    flex-direction: row;   
    border-radius: 0.625rem;
    background-color: var(--color-busqueda);   
}
.contain-barra_input{
    width: 80%;
    border: none;
    outline: 0;
    box-sizing: border-box;
    height: 2.18rem;
    border-top-left-radius: .93rem;
	border-bottom-left-radius: .93rem; 
    background-color: var(--color-busqueda);     
}
.contain-barra_button{
    width: 20%;
    outline: 0;
    box-sizing: border-box;
    border: none;
    height: 2.18rem;
    border-top-right-radius: .93rem;
	border-bottom-right-radius: .93rem;
    background-color: var(--color-busqueda);     
}
.contain-boton_header{
    width: 11.37rem;
    height: 3.18rem;     
}
.contain-boton_header :nth-child(1){
    width: 100%;
    height: 100%;
    background-color: var(--color-header);    
    border: 1px solid var(--color-btn) ;
    color: var(--color-btn);  
    font-weight: 700; 
    font-size: 1rem;   
}
.contain-botonAdmin_header{
    width: 11.37rem;
    height: 3.18rem;     
}
.contain-botonAdmin_header :nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-header);    
    border: 1px solid var(--color-btn) ;
    color: var(--color-btn);  
    font-weight: 400; 
    font-size: 1rem;  
}
.view-buscar{display: none;}
