#home{
 display: none;
 justify-content: center;
 padding: 5%;
}
.login{
    display: flex;
    flex-direction: column;
    width: 26.43rem;
    height:13.68rem;
    justify-content:space-between;
}
.login-titulo{
    text-align: center;
    padding-top:1.6rem ;
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--color-gray);
}
.login-email,.login-contraseña{
    height: 20%;
    border-radius: 0.25rem;
    background: var(--color-header);
    border: none;
}
.login-button{
    height: 20%;
    background: var(--color-btn);
    border: none;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-header);
}