#todos{display: none; justify-content: center;}
.todos-productos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    padding: 0;
    gap: 1rem;
    width: 90%;    
}
.todos-productos_encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 3.18rem; 
}
.todos-productos_encabezadoTitulo{
    font-weight: 700;
    font-size: 3.5vw;
    color: var(--color-gray);
}
.todos-productos_encabezado-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.625rem;
    width: 10.18rem;
    font-size: 1rem;
    font-weight: 400;
    background: var(--color-btn);
    border: none;
    color: var(--color-header);
}
.todos-producto_contain{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}
